/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 18%;
    --foreground: 220, 14%, 96%;

    --card: 220, 13%, 23%;
    --card-foreground: 220, 14%, 96%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 220, 30%, 50%;
    --primary-foreground: 220, 14%, 96%;
 
    --secondary: 250, 10%, 30%;
    --secondary-foreground: 220, 14%, 96%;
 
      /* Muted elements */
    --muted: 220, 10%, 30%;            /* Dark muted */
    --muted-foreground: 220, 10%, 70%; /* Medium gray */
    
    /* Other UI elements */
    --accent: 220, 15%, 25%;           /* Subtle accent */
    --accent-foreground: 220, 14%, 96%; /* Off-white */
    
    /* Destructive actions */
    --destructive: 0, 62%, 35%;        /* Deep red */
    --destructive-foreground: 220, 14%, 96%; /* Off-white */
    
    /* Borders and inputs */
    --border: 220, 13%, 30%;           /* Darker border */
    --input: 220, 13%, 30%;            /* Darker input */
    --ring: 220, 30%, 50%;             /* Match primary */
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}